[alias]
  br = branch
  ci = commit -S -v
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status
  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"

[user]
  signingkey = AB43CD11
  name = Andrei Krasnitski
  email = me@infra-red.xyz

[core]
  editor = nvim
  excludesfile = /Users/Andrei.Krasnitski/.gitignore_global

[push]
  default = simple

[transfer]
  fsckobjects = true

[gpg]
  program = /usr/local/MacGPG2/bin/gpg2

[commit]
  gpgsign = true
  template = ~/.gitmessage

[tag]
  forceSignAnnotated = true

[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
